<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <div><p>{{ object.title }}</p></div>
      <div><img src="{{ object.photo.url }}" width="300" height="300" alt="Photo"></div>
      <div><p>{{ object.description }}</p></div>
      {% if user.is_authenticated %}
          <div><h2>Leave your comment!</h2>
<div id="comments_section">
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{ form }}
      <button class="btn btn-info" type="submit">Add comment <i class="fas fa-comments"></i></button>
    </div>
  </form>
  {% else %}
  <a class="btn btn-outline-info" href="{% url 'account:login' %}">Log in to add a comment!</a><br>
  {% endif %}
  <hr>
<div>{% for comment in list_comment %}
    <div>{{ comment.comments }}</div>
{% endfor %}
</div>
</div>
</div>
</body>
</html>